#footer {
	position: relative;
	height: auto;
	background-color: $azul-corporativo;
	border-top:8px solid $amarillo-corporativo;

	.container {
		position: relative;
		z-index: 2;

		[class^="col-"] {
			position: relative;
			min-height: 150px;

			@media(min-width: 768px) {
				min-height: 200px;
			}

			@media(min-width: 992px) {
				min-height: 340px;
			}
		}

		[class^="col-"]:last-child {
			background-color: $amarillo-corporativo;
		}

		.logo {
			position: absolute;
			top: 50%;
			left: 50%;
			display: block;
			width: 160px;
			height: 160px;
			line-height: 160px;
			margin-top: -80px;
			margin-left: -80px;

			.logo-andino {
				display: block;
				position: relative;
				text-align: center;
				width: 160px;
				height: 160px;
				line-height: 160px;
				font-size: 100px;
				color: $amarillo-corporativo;

				@media(min-width: 768px) {
					font-size: 130px;
				}

				@media(min-width: 992px) {
					font-size: 160px;
				}
			}
		}

		.logos {
			position: relative;
			margin:0 -15px;
			background-color: white;
			height: 225px;

			@media(min-width: 768px) {
				height: 130px;
			}

			@media(min-width: 992px) {
				height: 165px;
			}

			ul {
				display: block;
				list-style: none;
				padding-top: 35px;
				padding-left: 0px;
				width: 290px;
				margin: 0 auto;

				@media(min-width: 768px) {
					width: auto;
				}

				li {
					display: inline-block;
					border-right: 1px dotted $azul-corporativo;
					padding: 0 20px;
					margin-bottom: 20px;

					@media(max-width: 767px) {

						&:nth-child(2) {
							border:none;
						}
					}

					@media(min-width: 768px) {
						padding: 0 45px;
						margin-bottom: 0px;
					}

					@media(min-width: 992px) {
						padding: 0 25px;
					}

					@media(min-width: 1200px) {
						padding: 0 46px;
					}

					&:last-child {
						padding-right: 0px;
						border:none;
					}

					a {
						display: block;
						position: relative;
						width: 100px;
						height: 64px;

						@media(min-width: 768px) {
							
						}

						@media(min-width: 992px) {
							width: 134px;
							height: 86px;
						}
					}
				}
			}
		}

		.menu {

			ul {
				list-style: none;
				padding: 40px 0px 0px;
				margin-bottom: 0px;
				text-align: center;

				@media(min-width: 768px) {
					text-align: left;
					padding: 40px 0px;
				}

				@media(min-width: 992px) {
					padding: 50px 0px 0px;
				}

				li {
					display: inline-block;
					border-right: 1px dotted white;
					padding: 0 10px;
					margin-bottom: 20px;

					@media(max-width: 767px) {
						border: none;
						width: 100%;
					}

					@media(min-width: 768px) {
						margin-bottom: 0px;
					}

					@media(min-width: 768px) {
						padding: 0 17px;
					}

					@media(min-width: 992px) {
						padding: 0 14px;
					}

					@media(min-width: 1200px) {
						padding: 0 30px;

					}

					&:first-child {
						@media(min-width: 992px) {
							padding-left: 18px;
						}

						@media(min-width: 1200px) {
							padding-left: 36px;

						}

					}

					&:last-child {
						border: none;
						padding-right: 0px;

						ul {
							border:none;
						}
					}

					ul {
						padding: 0px;
						//text-align: left;
						width: 180px;
						margin: 0 auto;
						border-bottom: 1px dotted white;
						padding-bottom: 20px;

						@media(min-width: 768px) {
							width: auto;
							margin: 0px;
							border: none;
							padding: 0px;
						}

						li {
							display: block;
							border:none;
							padding:4px 0px !important;
							margin: 0px;

							a {
								display: block;
								font-weight: 300;
								color: black;
								font-size: 0.9em;

								@media(min-width: 768px) {
									font-size: 0.8em;
								}
							}
						}
					}
				}
			}
		}
	}

	.franja {
		position: absolute;
		background-color: $amarillo-corporativo;
		z-index: 1;
		display: block;
		width: 100%;
		height: 282px;
		left: 0px;
		bottom:0px;

		@media(min-width: 992px) {
			position: absolute;
			top: 0px;
			right: 0px;
			bottom: 0px;
			left: 50%;
			width: auto;
			height: auto;
		}

		.blanca {
			position: absolute;
			background-color: white;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 130px;

			@media(min-width: 992px) {
				height: 165px;
			}
		}
	}
}

.no-link:hover {
	text-decoration: none;
}