form {

    .form-control {
        border: 2px solid $amarillo-corporativo;
        box-shadow: none;
        border-radius: 0;

        label {
            font-size: 1.2em;
        }
    }

    .btn, input[type="submit"] {
        background-color: $amarillo-corporativo;
        color: $azul-corporativo;
        border:none;
        height: 40px;
        line-height: 40px;
        padding: 0 25px;

        @media(max-width: 767px) {
            width: 100%;
        }
    }
}