.galeria {

	[class^="col-"] {
		padding-bottom: 40px !important;

		&:first-child {
			padding-left: 15px !important;
			padding-right: 15px  !important;
		}
	}





	.link-album {
		display: block;
		position: relative;
		height: 250px;
		overflow: hidden;

		.img-album {

		}

		.tit-album {
			display: block;
			position: absolute;
			background-color: $amarillo-corporativo;
			z-index: 2;
			padding: 10px;
			bottom: 0px;
			left: 0px;
			width: 100%;
			color: $azul-corporativo;
			@include transicion-basica();
		}

		&:hover {
			.tit-album {
				padding: 15px 10px;
			}
		}
	}
}

.modal {

	.close {
		display: block;
		position: absolute;
		background-color: $amarillo-corporativo;
		z-index: 4;
		opacity:1;
		font-size: 0;
		top: -10px;
		right: -10px;
		width: 30px;
		height: 30px;
		@include border-radius(15px);
		text-shadow:0px !important;

		&:before {
			color: $azul-corporativo;
			font-size: 16px;
			display: block;
			width: 30px;
			height: 30px;
			line-height: 30px;
			content:'X';
			box-shadow: 0;
			text-shadow:0px !important;
		}
	}

	img {
		width: 100%;
		height: auto;
	}

	.carousel-control.left {

		&:before {
			display: block;
			position: absolute;
			top: 50%;
			left: 20px;
			content: '';
			border-top:30px solid transparent;
			border-bottom:30px solid transparent;
			border-right:30px solid $amarillo-corporativo;
		}
	}

	.carousel-control.right {

		&:before {
			display: block;
			position: absolute;
			top: 50%;
			right: 20px;
			content: '';
			border-top:30px solid transparent;
			border-bottom:30px solid transparent;
			border-left:30px solid $amarillo-corporativo;
		}
	}
}