#slider {

	.carousel-inner {
		height: 346px;

		@media(min-width: 768px) {
			height: auto;
		}

		img {
			max-width: 250%;
			margin-left:-25%; 

			@media(min-width: 768px) {
				max-width: 100%;
				margin-left: 0; 
			}
		}

		.carousel-caption {
			background-color: rgba($azul-corporativo, $opacidad-70);
			z-index: 3;
			padding: 25px;
			text-align: left;
			left: 40%;
			right: 5%;

			@media(min-width: 768px) {
				left: 50%;
			}

			.tit-slide {
				margin: 0;
				padding: 0;
				font-size: 1.4em;
				padding-bottom: 10px;
				border-bottom: white dotted 1px;
				margin-bottom: 5px; 
			}

			p {
				font-weight: 300;
				color: white;
			}
		}

		&:before {
			display: block;
			position: absolute;
			content:'';
			width: auto;
			height: 64px;
			right: 0;
			bottom:0;
			left: 0;
			background-color: rgba($amarillo-corporativo, $opacidad-70);
			z-index: 2;
		}
	}

	.carousel-indicators {
		margin: 0;
		width: auto;
		height: 64px;
		right: 0;
		bottom:0;
		left: 0;
		text-align: left;
		line-height: 64px;
		padding:0 30px;
		letter-spacing: 0.4em;
		@media(min-width: 768px) {
			padding:0 60px;
		}

		li {
			border: none;
			background-color: $azul-corporativo;
			@include transicion-rapida();

			&.active {
				background-color: white;
			}
		}
	}
}