.table {

	&.mini {
		td, th {
			font-size: 0.9em;
		}

		td {
			text-transform: lowercase;
		}
	}

	thead {
		background-color: #ffda73;
		text-transform: uppercase;
	}

	td, th {
		color: $azul-corporativo;
		border:none;
	}

	tr {

		td, th {
			border: none !important;
		}

		&:nth-child(2n+1) {

			td {
				background-color: #fff1cc !important;
			}
		}
	}

	&.resultados-juegos {

		thead {
			background-color: transparent;
			text-transform: capitalize;
		}

		tr {

			&:nth-child(2n+1) {

				td {
					background-color: transparent !important;
				}
			}
		}

		h4 {
			color: $azul-corporativo;
			font-size: 1.4em;
			display: block;
			padding-bottom: 20px;
			border-bottom: 2px solid $amarillo-corporativo;

			@media(min-width:768px) {
				font-size: 1.8em;
			}
		}

		h5 {
			color: $azul-corporativo;
			margin: 0;
		}

		td {
			font-weight: 300;
			padding: 12px 8px;
		}
	}
}