*, html {
    font-family: 'Raleway', sans-serif;
}

body {
    font-family: 'Raleway', sans-serif;
}

a {
    @include transicion-rapida();
}

h1 {
	font-weight: 800;
}

h2 {

}

h3 {

}

h4 {

}

em {
    
}

p, ul li, strong, b, address, em, label {

}


blockquote {
    // position: relative;

    // &:before {
    //     content: '"';
    //     display: block;
    //     position: absolute;
    //     left: 0px;
    // }

    // &:after {
    //     content: '"';
    //     display: block;
    //     position: absolute;
    //     right: 0px;
    // }

    // p {
    // }
}