// colores sombras y resplandor

// $color-sombra: rgba(#000, 0.6);
// $color-resplandor: rgba(#fff, 0.5);
$color-fuente-base: #6a6a6a;
$color-sombra: rgba(0, 0, 0, .5);
$color-resplandor: rgba(#fff, 0.5);
$color-brillo: rgba(#fff, 0.4);
$gris-90: #e4e4e4;
$gris-60: #959595;